:root {
    --cell-size: 8rem;
    --cell-gap: 1.5rem;

    --board-color-large: #69627F;
    --board-color-small: #A99FB4;
    --background-color: #F6F6F6;

    --x-color: #FF6EC5;
    --o-color: #626AFF;

    --x-hover-color: #ffaedf;
    --o-hover-color: #9398fe;

    --cell-hover-color: var(--x-hover-color);

    --gradient-pink: #D1659F;
    --gradient-purple: #7E56E4;
}

.inclusive-sans-bold {
  font-family: "Inclusive Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.fredoka-bold {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
    background-color: var(--background-color);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#board {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* overflow: hidden; */
    height: calc(var(--cell-size) * 3 + var(--cell-gap) * 2);
    width: calc(var(--cell-size) * 3 + var(--cell-gap) * 2);
    gap: var(--cell-gap);
    background: var(--board-color-large);
    /* box-shadow: inset 0 0 0 var(--cell-gap) var(--background-color); */
}

.cell {
    --_cell-size: var(--cell-size);
    --piece-thickness: 1rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    overflow: hidden;
    outline: 5px solid var(--background-color);
    align-content: center;
    justify-content: center;
    /* box-shadow: inset 0 0 0 calc(var(--cell-gap) / 2) var(--background-color); */
}

.subcell {
    --piece-thickness: 0.5rem;
    --_cell-size: calc(var(--cell-size) / 3);

    position: relative;
    height: var(--_cell-size);
    width: var(--_cell-size);
    line-height: 0px;
    background: var(--background-color);
    /* outline: 5px solid var(--board-color-small); */
    border: 2.5px solid var(--board-color-small);
}

.subcell:hover.open {
    background: var(--cell-hover-color);
}

.x::before,
.x::after {
    --size: calc(var(--_cell-size) * .8);

    content: '';
    position: absolute;
    background: var(--x-color);
    width: var(--piece-thickness);
    height: var(--size);
    transform-origin: center;
    translate: calc(var(--_cell-size) / 2 - var(--piece-thickness) / 2) calc((var(--_cell-size) - var(--size)) / 2);
    pointer-events: none;
}

.x::before {
    transform: rotate(45deg);
    z-index: 1;
}

.x::after {
    transform: rotate(-45deg);
    z-index: 1;
}

.o {
    --size: calc((var(--_cell-size) / sqrt(2) + var(--piece-thickness) / sqrt(2)) * 0.8);

    /* content: ''; */
    position: absolute;
    z-index: 2;
    width: var(--size);
    height: var(--size);
    translate: calc((var(--_cell-size) - var(--size)) / 2) calc((var(--_cell-size) - var(--size)) / 2);
    border-radius: 50%;
    box-shadow: inset 0 0 0 var(--piece-thickness) var(--o-color);
    pointer-events: none;
}

.cell.open .subcell{
    /* box-shadow: inset 0 0 0 calc(var(--cell-gap) / 3) var(--cell-hover-color), 0 0 0 calc(var(--cell-gap) / 3) var(--cell-hover-color); */
    /* outline: 5px solid var(--cell-hover-color); */
    border: 2.5px solid var(--cell-hover-color);
}

.cell.x::before, .cell.x::after {
    z-index: 3;
}

.cell.x .subcell, .cell > .o ~ .subcell {
    opacity: 75%;
}

h1 {
    font-family: "Fredoka", sans-serif;
    font-size: 2.75rem;
    text-align: center;
    margin-bottom: 2rem;
    background: var(--gradient-purple);
    background-image: linear-gradient(90deg, var(--gradient-pink), var(--gradient-purple));
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    filter: drop-shadow(0 2px 4px rgb(0 0 0 / 25%));
}

#text {
    margin: 1rem 0;
}

p {
    font-family: "Inclusive Sans", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
}

button {
    font-family: "Inclusive Sans", sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--background-color);
    padding: 0.8rem 1rem;
    background-image: linear-gradient(90deg, var(--gradient-pink), var(--gradient-purple));
    border-radius: 10px;
    border: none;

    display: flex;
    align-items: center;
    gap: 8px;
}

button:hover {
    cursor: pointer;
    filter: brightness(1.1);
    box-shadow: 0 2px 8px rgb(94 8 134 / 50%)
}

button:active {
    filter: brightness(0.9);
    box-shadow: 0 1px 4px rgb(94 8 134 / 50%)
}

button:focus-visible {
    outline: 2px solid var(--gradient-purple);
    outline-offset: 2px;
}

button img {
    height: 80%;
}

button:active img {
    transition: transform 0.1s ease-out;
    transform: rotate(-360deg);
}