:root {
    --cell-size: 150px;
    --cell-gap: 10px;
    --piece-thickness: 10px;

    --board-color: gray;

    --x-color: red;
    --o-color: blue;

    --x-hover-color: lightcoral;
    --o-hover-color: lightblue;

    --cell-hover-color: var(--x-hover-color);
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: calc(var(--cell-size) * 3 + var(--cell-gap) * 6);
}

.cell {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: var(--cell-size);
    width: var(--cell-size);
    margin: var(--cell-gap);
    background: var(--board-color);
}

.subcell {
    --_cell-size: calc((var(--cell-size) - var(--cell-gap) * 2) / 3);

    position: relative;
    height: var(--_cell-size);
    width: var(--_cell-size);
    margin: calc(var(--cell-gap) / 3);
    line-height: 0px;
    background: white;
}

.subcell:hover.open {
    background: var(--cell-hover-color);
}

.x::before,
.x::after {
    content: '';
    position: absolute;
    background: var(--x-color);
    width: var(--piece-thickness);
    height: var(--_cell-size);
    transform-origin: center;
    translate: calc(var(--_cell-size) / 2 - var(--piece-thickness) / 2) 0%;
}

.x::before {
    transform: rotate(45deg);
}

.x::after {
    transform: rotate(-45deg);
}

.o {
    --size: calc(var(--_cell-size) / sqrt(2) + var(--piece-thickness) / sqrt(2));

    position: absolute;
    z-index: 1;
    width: var(--size);
    height: var(--size);
    translate: calc((var(--_cell-size) - var(--size)) / 2) calc((var(--_cell-size) - var(--size)) / 2);
    border-radius: 50%;
    box-shadow: inset 0 0 0 var(--piece-thickness) var(--o-color);
}